/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main Style Section */

:root {
  --primary-color: rgba(10, 27, 58, 1);
  --secondary-color: rgba(11, 24, 50, 1);
  --color-white-1: rgba(237, 238, 192, 1);
  --color-white-2: rgba(255, 255, 255, 1);
  --gradient-primary: linear-gradient(126deg, #062561 10.58%, #0C1C3D 86.9%);
  --gradient-secondary: linear-gradient(238deg, #062561 8.98%, #0C1C3D 82.04%);
  --border-color-1: rgba(184, 183, 183, 0.50);
  --card-color-head-1: linear-gradient(122deg, #5DA2FC -4.27%, #3264A5 103.11%);  
  --border-card-1: rgba(50, 90, 150, 1);


}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  background: var(--primary-color);
  cursor: url('/assets/img/cursor/left_ptr.png'), auto;
}

h1, h2, h3, h4, h5, h6, p {
  cursor: url('/assets/img/cursor/Text.png'), text;
}

/* Menghilangkan semua garis bawah pada link atau anchor */
a {
  text-decoration: none;
  cursor: url('/assets/img/cursor/pointing_hand.ico'), pointer;
}

/* Bagian Navigation Bar pada Header Landing Page */
.landing-header {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  padding: 1rem 5rem;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  gap: 5rem;

  /* Landing-Header Styling */
  border: 2px solid rgba(0, 0, 0, 0.25);
  box-shadow: 5px 16px 50px 0px rgba(194, 187, 240, 0.05);
  background-color: #0A1B3A;
}

.landing-header__logo {
  color: #EDEEC0;
  font-family: 'Permanent Marker';
  font-size: 1.875rem;
  font-style: normal;
  line-height: normal;
  text-shadow: 7px 15px 30px rgba(43, 44, 40, 0.20);


  padding: 0.9375rem;
  text-align: center;
}

.landing-header__ButtonLink {
  padding: 0.9375rem;
  justify-content: center;
  gap: 0.625rem;
  margin: 0 10px;

  /* box-shadow: 0px 0px 33px 0px rgba(140, 173, 223, 0.25); */
}

.landing-header__right-container:hover a{
  color: rgba(255, 255, 255, .3);
}

.landing-header__link {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 1.5625rem;
  color: rgba(255, 255, 255, 1);
  
  padding: 0 30px 0 30px;
  transition: all 500ms ease-in-out;
}

.landing-header__link:hover {
  text-shadow: 1px 1px 80px rgb(137, 139, 148);
  color: rgba(255, 255, 255, 1) !important;
  /* text-decoration: underline var(--secondary-color); */
}

.landing-header__link:active {
  color: rgba(255, 255, 255, 1);
}

.Home:hover {
  color: rgba(255, 255, 255, 1);
}

.main-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.introduction {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 0 10px;

  top: 21%;
  left: 574px;
}

.introduction h3 {
  font-family: 'Coda';
  font-size: 40px;
  font-style: normal;
  line-height: 134%;
  letter-spacing: 2%;

  color: #EDEEC0;
}

.introduction h2 {
  font-family: 'Coda';
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 134%;
  letter-spacing: 2,75px;

  color: #EDEEC0;
}

.job {
  text-align: center;
  font-family: 'Changa One';
  font-size: 45px;
  letter-spacing: 0.45px;

  width: 680px;
  color: #EDEEC0;
  background: linear-gradient(92deg, #92B3E5 17.88%, #1F65AF 63.63%);
  box-shadow: 15px 10px 100px 0px rgba(143, 184, 237, 0.25);

  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;

  right: 10px;

}

.break-1 {
  width: 700px;
  height: 5px;
  flex-shrink: 0;

  position: absolute;
  top: 570px;
  left: 573px;
  border: 10px;
  margin: 10px 0;
  background: #2D4C74;

}

.element-1 {
  width: 500px;
}

.element-1 img {
  object-fit: cover;
  position: absolute;
  width: 500px;
  z-index: -1;
  top: 233px;
  left: 70px;
}

.label {
  position: absolute;
  top: 260px;
  left: -100px;
  transform: rotate(-90deg);
  
  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 21px;
}

.break-line__1{
  width: 5px;
  height: 178px;

  position: absolute;
  left: 50px;
  top: 134px;
  background-color: #EDEEC0;
}

.break-line__2{
  width: 5px;
  height: 90px;

  position: absolute;
  top: 320px;
  left: 50px;
  background-color: #EDEEC0;
}

.social-media__icon{
  position: absolute;
  top: 150px;
  left: 60px;
}

.icon {
  padding-bottom: 33px;
  padding-left: 5px;
}

.iconc {
  color: var(--color-white-1);
}

/* ! Social Media's Icons Section  */
.instagram {
  transition: all 200ms ease-in-out;
}

.instagram:hover {
  scale: 1.2;
  color: rgba(224, 18, 92, 1);
}

.github {
  transition: all 200ms ease-in-out;
}

.github:hover {
  scale: 1.2;
  color: rgba(18, 18, 17, 1);
}

.linkedin {
  transition: all 200ms ease-in-out;
}

.linkedin:hover {
  scale: 1.2;
  color: rgba(82, 131, 204, 1);
}

.pinterest {
  transition: all 200ms ease-in-out;
}

.pinterest:hover {
  scale: 1.2;
  color: rgba(251, 46, 46, 1);
}

.medium {
  transition: all 200ms ease-in-out;
}

.medium:hover {
  scale: 1.2;
  color: rgba(22, 22, 22, 1);
}

/* ! Learn More Section */
.learn-more {
  display: flex;
  position: relative;
  top: 650px;
  right: 44%;
}

.__next-1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 23px;
  text-align: center;
  color: #EDEEC0;
  margin-bottom: 5px;
}

.arrow-down {
  align-self: center;
}

/* ! Portfolio Section */
.portfolio {
  width: 100%;
  height: fit-content;
  background-color: var(--secondary-color);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 120vh;
}

.title-section h2 {
  color: #EDEEC0;
  font-family: 'Poppins';
  font-size: 2.325rem;
  font-weight: 600;
  letter-spacing: 1px;
  align-self: center;
  align-items: center;

  margin: 120px 0 5px 90px;
}

.portfolio-options {
  display: flex;
  background-color: #0E2249;
  /* position: relative; */
  flex-shrink: 0;
  
  /* gap: 85px; */
  /* padding: 8px 25px; */
  margin: 20px 0 50px 0;
  left: 37.5%;
}

.option {
  color: rgba(255, 255, 255, .5);
  font-family: 'Poppins';
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 240%;
}

.option-1, .option-2 {
  display: block;
  cursor:  url('/assets/img/cursor/pointing_hand.ico'), pointer;
  /* background-color: #fff; */
  text-align: center;
  width: 175px;
  height: 40px;
  transition: all 500ms ease-in-out;

}

.option-1:hover, .option-2:hover {
  text-shadow: 0px 0px 40px rgba(198, 189, 189, 0.30);
  color: rgba(255, 255, 255, 1);
  background-color: #041b43;
}

/* ! Portfolio Content Section */
.left-card {
  display: flex;
  position: relative;
  flex-direction: row;

  width: 90%;
  height: 500px;
  /* margin: 50px; */
  padding: 50px;

  border-radius: 6px;
  border: 2px solid rgba(184, 183, 183, 0.50);
  background: linear-gradient(126deg, #062561 10.58%, #0C1C3D 86.9%);
}

.right-card {
  display: flex;
  position: relative;
  flex-direction: row-reverse;

  width: 90%;
  height: 500px;
  top: 100%;
  margin: 50px;
  padding: 50px;

  border-radius: 6px;
  border: 2px solid var(--border-card-1);
  background: var(--gradient-secondary);
}

.left-card h3 {
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 700;
  text-align: justify;
  
  position: absolute;
  left: 500px;
  

  background: linear-gradient(122deg, #5DA2FC -4.27%, #3264A5 103.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-card h3 {
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 700;
  text-align: justify;
  
  position: relative;
  right: 450px;
  

  background: linear-gradient(122deg, #5DA2FC -4.27%, #3264A5 103.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-card h2 {
  font-family: 'Montserrat';
  font-size: 43px;
  color: white;
  font-weight: 700;
  
  position: absolute;
  left: 500px;
  top: 80px;

  margin-top: 20px;
}

.right-card h2 {
  font-family: 'Montserrat';
  font-size: 43px;
  color: white;
  font-weight: 700;
  
  position: absolute;
  right: 500px;
  top: 80px;

  margin-top: 20px;
}

.left-card p {
  font: normal normal 400 20px/30px 'Roboto Mono' ;
  text-align: left;
  color: white;

  position: absolute;
  left: 500px;
  top: 140px;

  margin: 20px 50px 20px 0;
}

.right-card p {
  font: normal normal 400 20px/30px 'Roboto Mono' ;
  text-align: end;
  color: white;

  position: absolute;
  right: 500px;
  top: 140px;

  margin: 20px 0 20px 50px;
}

.left-card figure img{
  width: 400px;
  height: 400px;
  border: 1px solid white;
  z-index: 1;

  position: absolute;
  left: 50px;
}

.right-card figure img{
  width: 400px;
  height: 400px;
  border: 1px solid white;
  z-index: 1;

  position: relative;
  left: 150px;
}

.left-card figure .border {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 77px;
  top: 77px;

  border-radius: 6px;
  border: 10px solid #325A96;
}

.right-card figure .border {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 77px;
  top: 77px;

  border-radius: 6px;
  border: 10px solid #325A96;
}

.button-card-left {
  display: flex;
  padding: 15px;
  align-items: center;
  margin-top: 20px;

  position: absolute;
  left: 500px;
  top: 80%;

  border-radius: 10px;
  border: 2px solid #455B95;

  color: white;
  font: normal normal 600 22px/0px 'Poppins';

  gap: 10px;

  transition: all 300ms ease-in;
}

.button-card-left:hover {
  background: linear-gradient(138deg, #2E54B4 4.16%, #071E59 95.55%);
  border: 0px solid #455B95;
  box-shadow: 0px 12px 0px 0px #0D1C41;
}

.button-card-left:active {
  top: 81%;
  box-shadow: 0px 6px 0px 0px #0D1C41;
}

.arrow-right {
  transition: all 300ms ease-in-out;
}

.arrow-right:hover {
  scale: 1.1;
  transform: translate(5px, 0px);
}

.button-card-right {
  display: flex;
  padding: 15px;
  align-items: center;
  margin-top: 20px;

  position: absolute;
  right: 500px;
  top: 80%;

  border-radius: 10px;
  border: 2px solid #455B95;

  color: white;
  font: normal normal 600 22px/0px 'Poppins';

  gap: 10px;

  transition: all 300ms ease-in;
}

.button-card-right:hover {
  background: linear-gradient(138deg, #2E54B4 4.16%, #071E59 95.55%);
  border: 0px solid #455B95;
  box-shadow: 0px 12px 0px 0px #0D1C41;
}

.button-card-right:active {
  top: 81%;
  box-shadow: 0px 6px 0px 0px #0D1C41;
}

.arrow-left {
  transition: all 300ms ease-in-out;
}

.arrow-left:hover {
  scale: 1.1;
  transform: translate(-5px, 0px);
}
