/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --primary-color: rgba(10, 27, 58, 1);
  --secondary-color: rgba(11, 24, 50, 1);
  --color-white-1: rgba(237, 238, 192, 1);
  --color-white-2: rgba(255, 255, 255, 1);
  --gradient-primary: linear-gradient(126deg, #062561 10.58%, #0C1C3D 86.9%);
  --gradient-secondary: linear-gradient(238deg, #062561 8.98%, #0C1C3D 82.04%);
  --gradient-tertiary: linear-gradient(180deg, rgb(0.64, 11.17, 38.25) 0%, rgb(1.14, 26.41, 91.37) 100%);
  --gradient-fourth: linear-gradient(180deg, rgb(10, 27, 58) 0%, rgba(0.64, 27.51, 76.5, 0.56) 100%);
  --border-color-1: rgba(184, 183, 183, 0.50);
  --border-color-2: rgba(255, 255, 255, .5);
  --border-card-1: rgba(50, 90, 150, 1);
  --card-color-head-1: linear-gradient(122deg, #5DA2FC -4.27%, #3264A5 103.11%);
  --line-break-color-1: rgba(143, 184, 237, 1);
  --navigation-height-1: 100px;
  --navigation-height-s: 80px;


}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  cursor: url('../assets/img/cursor/left_ptr.png'), auto;
}

body {
  width: 100%;
  height: 100%;
  /* display: flex; */
  background: var(--secondary-color);
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: url('../assets/img/cursor/Text.png'), text;
}

a {
  text-decoration: none;
  cursor: url('../assets/img/cursor/pointing_hand.ico'), pointer;
}

.landing-header {
  display: flex;
  width: 100%;
  height: var(--navigation-height-1);
  align-items: center;
  align-content: center;
  padding: 1rem 8rem;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  gap: 5rem;

  border: 2px solid rgba(0, 0, 0, 0.25);
  box-shadow: 5px 16px 50px 0px rgba(194, 187, 240, 0.05);
  background-color: #0A1B3A;
}

.landing-header__logo img {
  width: 90px;
}

.landing-header__ButtonLink {
  padding: 0.9375rem;
  justify-content: center;
  gap: 0.625rem;
  margin: 0 10px;
}

.landing-header__right-container:hover a {
  color: rgba(255, 255, 255, .3);
}

.landing-header__right-container-m {
  display: none;
}

.landing-header__link {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 1.5625rem;
  color: rgba(255, 255, 255, 1);

  padding: 0 30px 0 30px;
  transition: all 500ms ease-in-out;
}

.landing-header__link:hover {
  text-shadow: 1px 1px 80px rgb(137, 139, 148);
  color: rgba(255, 255, 255, 1) !important;
}

.landing-header__link:active {
  color: rgba(255, 255, 255, 1);
}

.Home:hover {
  color: rgba(255, 255, 255, 1);
}

.main-page {
  display: flex;
  width: 100%;
  min-height: calc(100vh - var(--navigation-height-1));
  justify-content: center;
  overflow: hidden;
  /* position: relative; */
}

.introduction {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 0 10px;

  top: 10%;
  left: 200px;
}

.introduction h3 {
  font-family: 'Coda';
  font-size: 40px;
  font-style: normal;
  line-height: 134%;
  letter-spacing: 2%;

  color: #EDEEC0;

  position: absolute;
  top: 300px;
  left: 50px;
}

.introduction h2 {
  font-family: 'Coda';
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 134%;
  letter-spacing: 2, 75px;

  color: #EDEEC0;

  position: absolute;
  bottom: 190px;
  left: 50px;
}

.job {
  text-align: center;
  font-family: 'Changa One';
  font-size: 45px;
  letter-spacing: 0.45px;

  width: fit-content;
  color: #EDEEC0;
  background: linear-gradient(92deg, #92B3E5 17.88%, #1F65AF 63.63%);
  box-shadow: 15px 10px 100px 0px rgba(143, 184, 237, 0.25);

  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;

  left: 40px;
  bottom: 80px;

}

.break-1 {
  width: 680px;
  height: 5px;
  flex-shrink: 0;

  position: relative;
  bottom: 90px;
  left: 39px;
  border: 10px;
  margin: 10px 0;
  background: #2D4C74;

}

.element-1 {
  width: 500px;
}

.element-1 img {
  object-fit: cover;
  position: relative;
  width: 500px;
  z-index: -1;
  top: 160px;
  right: 450px;
}

.label {
  position: absolute;
  top: 260px;
  left: -100px;
  transform: rotate(-90deg);

  font-family: 'Poppins', Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 21px;
}

.break-line__1 {
  width: 5px;
  height: 178px;

  position: absolute;
  left: 50px;
  top: 134px;
  background-color: #EDEEC0;
}

.break-line__2 {
  width: 5px;
  height: 90px;

  position: absolute;
  top: 320px;
  left: 50px;
  background-color: #EDEEC0;
}

.social-media__icon {
  position: absolute;
  top: 150px;
  left: 60px;
}

.icon {
  padding-bottom: 33px;
  padding-left: 5px;
}

.iconc {
  color: var(--color-white-1);
}

.instagram {
  transition: all 200ms ease-in-out;
}

.instagram:hover {
  scale: 1.2;
  color: rgba(224, 18, 92, 1);
}

.github {
  transition: all 200ms ease-in-out;
}

.github:hover {
  scale: 1.2;
  color: rgba(18, 18, 17, 1);
}

.linkedin {
  transition: all 200ms ease-in-out;
}

.linkedin:hover {
  scale: 1.2;
  color: rgba(82, 131, 204, 1);
}

.pinterest {
  transition: all 200ms ease-in-out;
}

.pinterest:hover {
  scale: 1.2;
  color: rgba(251, 46, 46, 1);
}

.medium {
  transition: all 200ms ease-in-out;
}

.medium:hover {
  scale: 1.2;
  color: rgba(22, 22, 22, 1);
}

.learn-more {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 650px;
  right: 47%;
}

.__next-1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 23px;
  text-align: center;
  color: #EDEEC0;
  margin-bottom: 5px;
}

.arrow-down {
  position: relative;
  top: 20px;
  right: 85px;
  align-self: center;
}

.portfolio {
  width: 100%;
  height: fit-content;
  background-color: var(--primary-color);

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 120vh;
}

.title-section h2 {
  color: #EDEEC0;
  font-family: 'Poppins';
  font-size: 2.325rem;
  font-weight: 600;
  letter-spacing: 1px;
  align-self: center;
  align-items: center;

  margin: 120px 0 5px 90px;
}

.portfolio-options {
  display: flex;
  background-color: #0E2249;
  flex-shrink: 0;
  position: relative;
  width: fit-content;

  margin: 20px 0 50px 0px;
  left: -1%;
}

.portfolio-options input[type="radio"] {
  opacity: 0;
  width: 0;
}

.portfolio-options input[type="radio"]:focus+label {
  border: 1px solid var(--border-color-1);
}

.portfolio-options input[type="radio"]:checked+label {
  background-color: #041b43;
  color: var(--color-white-2);
}

.ra-1 {
  position: absolute;
  top: 27%;
  left: 5%;
}

.ra-2 {
  position: absolute;
  top: 29%;
  left: 58%;
}

.option {
  color: rgba(255, 255, 255, .5);
  font-family: 'Poppins';
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 240%;
}

.option-1,
.option-2 {
  display: block;
  cursor: url('/assets/img/cursor/pointing_hand.ico'), pointer;
  text-align: center;
  width: 170px;
  height: 40px;
  transition: all 500ms ease-in-out;

}

.option-1:hover,
.option-2:hover {
  text-shadow: 0px 0px 40px rgba(198, 189, 189, 0.30);
  color: rgba(255, 255, 255, 1);
  background-color: #041b43;
}

.left-card {
  display: flex;
  position: relative;
  flex-direction: row;

  width: 90%;
  height: 500px;
  margin: 25px;
  padding: 50px;

  border-radius: 6px;
  border: 2px solid var(--border-card-1);
  background: var(--gradient-primary);

  transition: all 300ms ease-in;
}

.left-card:hover {
  border: 2px solid var(--border-color-2);
  scale: 1.03;
  box-shadow: 0px 10px 60px 20px #0524604c;
  transform: translate(0px, -15px);
}

.right-card {
  display: flex;
  position: relative;
  flex-direction: row-reverse;

  width: 90%;
  height: 500px;
  top: 100%;
  margin: 25px;
  padding: 50px;

  border-radius: 6px;
  border: 2px solid var(--border-card-1);
  background: var(--gradient-secondary);

  transition: all 300ms ease-in;
}

.right-card:hover {
  border: 2px solid var(--border-color-2);
  scale: 1.03;
  box-shadow: 0px 10px 60px 20px #0420694c;
  transform: translate(0px, -15px);
}

.left-card h3 {
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 700;
  text-align: justify;

  position: absolute;
  left: 500px;


  background: linear-gradient(122deg, #5DA2FC -4.27%, #3264A5 103.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.right-card h3 {
  font-family: 'Montserrat';
  font-size: 35px;
  font-weight: 700;
  text-align: justify;

  position: relative;
  right: 450px;


  background: linear-gradient(122deg, #5DA2FC -4.27%, #3264A5 103.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-card h2 {
  font-family: 'Montserrat';
  font-size: 43px;
  color: white;
  font-weight: 700;

  position: absolute;
  left: 500px;
  top: 80px;

  margin-top: 20px;
}

.right-card h2 {
  font-family: 'Montserrat';
  font-size: 43px;
  color: white;
  font-weight: 700;

  position: absolute;
  right: 500px;
  top: 80px;

  margin-top: 20px;
}

.left-card p {
  font: normal normal 400 20px/30px 'Roboto Mono';
  text-align: left;
  color: white;

  position: absolute;
  left: 500px;
  top: 140px;

  margin: 20px 50px 20px 0;
}

.right-card p {
  font: normal normal 400 20px/30px 'Roboto Mono';
  text-align: end;
  color: white;

  position: absolute;
  right: 500px;
  top: 140px;

  margin: 20px 0 20px 50px;
}

.m-img {
  display: none;
}

.left-card figure img {
  width: 400px;
  height: 400px;
  border: 1px solid white;
  z-index: 1;

  position: absolute;
  left: 50px;
}

.right-card figure img {
  width: 400px;
  height: 400px;
  border: 1px solid white;
  z-index: 1;

  position: relative;
  left: 160px;
}

.left-card figure .border {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 77px;
  top: 77px;

  border-radius: 6px;
  border: 10px solid #325A96;
}

.right-card figure .border {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 77px;
  top: 77px;

  border-radius: 6px;
  border: 10px solid #325A96;
}

.button-card-left {
  display: flex;
  padding: 15px;
  align-items: center;
  margin-top: 20px;

  position: absolute;
  left: 500px;
  top: 80%;

  border-radius: 10px;
  border: 2px solid #455B95;

  color: white;
  font: normal normal 600 22px/0px 'Poppins';

  gap: 10px;

  transition: all 300ms ease-in;
}

.button-card-left:hover {
  background: linear-gradient(138deg, #2E54B4 4.16%, #071E59 95.55%);
  border: 0px solid #455B95;
  box-shadow: 0px 12px 0px 0px #0D1C41;
}

.button-card-left:active {
  top: 81%;
  box-shadow: 0px 6px 0px 0px #0D1C41;
}

.arrow-right {
  transition: all 300ms ease-in-out;
}

.arrow-right:hover {
  scale: 1.1;
  transform: translate(3px, 0px);
}

.button-card-right {
  display: flex;
  padding: 15px;
  align-items: center;
  margin-top: 20px;

  position: absolute;
  right: 500px;
  top: 80%;

  border-radius: 10px;
  border: 2px solid #455B95;

  color: white;
  font: normal normal 600 22px/0px 'Poppins';

  gap: 10px;

  transition: all 300ms ease-in;
}

.button-card-right:hover {
  background: linear-gradient(138deg, #2E54B4 4.16%, #071E59 95.55%);
  border: 0px solid #455B95;
  box-shadow: 0px 12px 0px 0px #0D1C41;
}

.button-card-right:active {
  top: 81%;
  box-shadow: 0px 6px 0px 0px #0D1C41;
}

.arrow-left {
  transition: all 300ms ease-in-out;
}

.arrow-left:hover {
  scale: 1.1;
  transform: translate(-3px, 0px);
}

.carrousels {
  display: flex;
  position: relative;
  width: 100px;
  height: 10px;
  gap: 15px;
  margin: 25px 0 50px 0;
}

.bullet {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: var(--color-white-2);
  cursor: url('../assets/img/cursor/pointing_hand.ico'), pointer;

  transition: all 200ms ease;
}

.bullet:hover {
  background-color: var(--color-white-1);
  border: 1px dashed var(--border-color-1);
}

.selected-bullet {
  width: 15px;
  height: 15px;
  border-radius: 12.5px;
  background-color: #6a5e5e;
  position: relative;
  top: 20%;
  left: 20%;
}

.profileCard {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 50px auto;
  padding: 20px;
  width: 60%;
  height: fit-content;
  background: var(--gradient-tertiary);
  top: 511vh;

  border: 1px solid var(--border-card-1);
  border-radius: 0px 0px 15px 15px;
  color: var(--color-white-2);
}

.profile-banner {
  width: 105.48%;
  height: 359px;
  position: relative;
  top: -20.2px;
  left: -22.2px;

  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  top: -340px;
}

.profile-picture {
  position: absolute;
  left: 34%;
  margin-bottom: 20px;
}

.name {
  font: normal normal 700 2.3em/normal 'Montserrat', Helvetica, sans-serif;
}

.occupations {
  font: normal normal 500 1.1em/normal 'Roboto Mono', sans-serif;
}

.name, .occupations {
  text-align: center;
  position: relative;
  top: 295px;
}

.content-wrappers {
  display: flex;
  flex-direction: column;
  position: relative;
  
  top: -30px;
  margin: 20px 0 26px 0;
}

.content-head {
  font: normal normal 600 1.5em/normal 'Montserrat', Helvetica, sans-serif;
  margin-bottom: 10px;
}

.line-break {
  width: 115px;
  height: 2px;
  margin-bottom: 20px;

  background-color: var(--line-break-color-1);
}

.content-desc-1, .content-desc-2 {
  font: normal normal normal 1em/normal 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.profile-tabs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
}

.profile-tabs:hover a {
  color: rgba(255, 255, 255, .3);
}

.profile-tabs a {
  font: normal normal 700 1.2em/normal 'Poppins', Helvetica, sans-serif;
  text-decoration: none;
  color: var(--color-white-2);
  transition: all 500ms ease-in-out;
}

.profile-tabs a:hover {
  color: var(--color-white-2) !important;
  text-shadow: 0px 0px 35px #edeec066;
}

footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  padding: 0 0 0 64px;

  position: absolute;
  top: 644vh;

  background: var(--gradient-fourth);
}

footer img {
  position: relative;
  top: 10px;
  width: 80px;
}

.copyright {
  position: relative;
  right: 60px;

  color: rgba(255, 255, 255, .5);
  font: normal normal 300 1em/normal 'Roboto Mono', sans-serif;
  text-align: center;
}

.copyright span {
  color: var(--color-white-2);
  font: normal normal 600 1em/normal 'Roboto Mono', sans-serif;
}

/* ! Media Query: Mobile Responsive */
@media screen and (max-width: 650px) {
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .landing-header {
    width: 100%;
    height: var(--navigation-height-s);
    display: flex;
    padding: 1rem 1rem 1rem 6rem;
    position: fixed;
    justify-content: space-around;
  }

  .landing-header__link {
    display: none;
  }

  .landing-header__logo img{
    width: 75px;
    position: relative;
    left: 145px;
  }

  .landing-header__right-container-m {
    display: inline-flex;
    flex-direction: column;
    /* position: absolute; */
    margin-right: -20px;
    width: 50px;
    height: 36px;
    gap: 10.29px;
  }

  .landing-header__right-container-m span {
    width: 100%;
    height: 9px;
    border-radius: 10px;
    background-color: var(--color-white-2);
    transition: text-shadow 100ms ease-in;
  }
  
  .landing-header__right-container-m span:hover {
    background-color: var(--color-white-1);
  }

  .social-media {
    display: none;
  }

  .main-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - var(--navigation-height-s));
    justify-content: center;
  }

  .introduction {
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .introduction h3 {
    font-size: 35px;
    top: 350px;
    left: 175px;
  }

  .introduction h2 {
    font-size: 45px;
    top: 390px;
    left: 20%;
  }

  .job {
    bottom: 0;
    left: 65px;
    font-size: 32px;
  }

  .break-1 {
    width: 489px;
    bottom: 10px;
    left: 65px;
  }

  .element-1 img {
    width: 399px;
    height: 353px;
    position: relative;
    top: 0;
    left: 50px;
    margin: 50px;
  }

  .learn-more {
    right: 36%;
    z-index: 1;
  }

  .__next-1 {
    font-size: 22px;
    align-items: center;
  }

  .arrow-down {
    right: 51%;
  }

  .portfolio {
    width: 100%;
    height: fit-content;
    top: 150%;
  }

  .title-section {
    position: relative;
  }

  .border {
    display: none;
  }

  .left-card {
    width: 95%;
    height: 600px;
    flex-direction: column;

    margin: 25px;
    padding: 30px 30px 17px 30px;

    right: 0;
  }

  .left-card h3 {
    font-size: 25px;
    left: 27px;
    top: 300px;
    letter-spacing: 2px;
  }

  .left-card h2 {
    font-size: 25px;
    left: 27px;
    top: 310px;
    letter-spacing: 2px;
  }

  .left-card p {
    font-size: 13px;
    left: 27px;
    top: 335px;
    text-align: justify;
    line-height: 23px;
  }

  .button-card-left {
    font-size: 20px;
    
    justify-content: center;
    width: 91%;
    height: 40px;
    border-radius: 25px;

    left: 25px;
    top: 518px;

    transition: all 200ms ease-in-out;
  }

  .button-card-left:hover {
    background: linear-gradient(138deg, #2E54B4 4.16%, #071E59 95.55%);
    border: 0px solid #455B95;
    box-shadow: 0px 8px 0px 0px #0D1C41;
  }
  
  .button-card-left:active {
    top: 520px;
    box-shadow: 0px 4px 0px 0px #0D1C41;
  }
  
  .arrow-right {
    transition: all 300ms ease-in-out;
  }
  
  .arrow-right:hover {
    scale: 1.1;
    transform: translate(3px, 0px);
  }
  
  .left-card figure .m-img {
    display: block;
    width: 96%;
    height: 250px;

    position: relative;
    left: 0;
  }

  .left-card figure img {
    display: none;
  }

  .right-card {
    width: 95%;
    height: 600px;
    flex-direction: column;

    margin: 25px;
    padding: 30px 30px 17px 30px;

    right: 0;
  }

  .right-card h3 {
    font-size: 25px;
    width: 96%;
    left: 0;
    top: 300px;
    letter-spacing: 2px;
  }

  .right-card h2 {
    font-size: 25px;
    width: 96%;
    left: 30px;
    top: 340px;
    letter-spacing: 2px;
  }

  .right-card p {
    font-size: 13px;
    width: 90%;
    left: -18px;
    top: 365px;
    text-align: justify;
    line-height: 23px;
  }

  .button-card-right {
    font-size: 20px;
    
    justify-content: center;
    width: 91%;
    height: 40px;
    border-radius: 25px;

    left: 25px;
    top: 518px;

    transition: all 200ms ease-in-out;
  }

  .button-card-right:hover {
    background: linear-gradient(138deg, #2E54B4 4.16%, #071E59 95.55%);
    border: 0px solid #455B95;
    box-shadow: 0px 8px 0px 0px #0D1C41;
  }
  
  .button-card-right:active {
    top: 520px;
    box-shadow: 0px 4px 0px 0px #0D1C41;
  }
  
  .arrow-right {
    transition: all 300ms ease-in-out;
  }
  
  .arrow-right:hover {
    scale: 1.1;
    transform: translate(3px, 0px);
  }
  
  .right-card figure .m-img {
    display: block;
    width: 96%;
    height: 250px;

    position: relative;
    left: 0;
  }

  .right-card figure img {
    display: none;
  }

  .profileCard {
    width: 90%;
    top: 670vh;
    left: 5%;
  }

  .profile-banner {
    width: 108%;
  }

  .profile-picture {
    width: 220px;
    top: 50%;
    left: 30%;
  }

  .name {
    font-size: 1.9em;
  }

  .occupations {
    font-size: 1em;
  }

  footer {
    top: 820vh;
    padding: 0rem 2rem 1rem 2rem;
  }

  footer img {
    width: 60px;
  }

  .copyright {
    font-size: 0.8em;
    right: 3%;
  }
}