/* ! Google Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Montserrat:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* ! CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: .2s linear;
}

/* ! Main Code */
:root {
  /* * Color */
  --first-blue-color: rgba(10, 27, 58, 1);
  --second-blue-color: rgba(11, 24, 50, 1);
  --third-blue-color: rgba(4, 27, 67, 1);
  --fourth-blue-color: rgba(14, 34, 73, 1);
  --fifth-blue-color: rgba(45, 76, 116, 1);
  --white-color-1: rgba(237,237,192, 1);
  --white-color-2: rgba(255, 255, 255, 1);

  /* * Layout */
  --padding-res-1: 3.125rem;
  --padding-res-2: 0.9375rem;

  /* * Font Size */
  --responsive-font-1: 1.5625rem;
  /* --responsive-font-2: ; */
}

html {
  /* height: 100%; */
  font-size: 73.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

body {
  /* min-height: 100vh; */
  background-color: var(--first-blue-color);
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: .1rem solid rgba(0, 0, 0, .34);
  padding: .5rem 7%;

  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
}

.mobile-nav,.mobile-menu {
  display: none;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .4375rem .625rem;
  margin-left: 3.125rem;
  /* gap: 4.375rem; */
}

.main-nav a {
  font-weight: 700;
  font-size: var(--responsive-font-1);
  font-family: "Poppins",sans-serif;

  padding: var(--padding-res-2);
  margin: 0 1.5rem;
  color: var(--white-color-1);
}

.main-nav a:hover {
  color: var(--white-color-2);
  border-bottom: .1rem solid var(--white-color-2);
  padding-bottom: .5rem;
}

.brand {
  display: inline-block;
  padding: var(--padding-res-2);
  margin: 0.625rem 0;
}

.brand img {
  height: 4rem;
}

header .icons {
  font-size: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 2.5rem;
}

header .icons .icon {
  margin: 2rem;
}

header .icons .icon {
  color: var(--white-color-1);
}

header .icons .instagram:hover {
  color: #bb0303;
}

header .icons .github:hover {
  color: #949494;
}

header .icons .linkedin:hover {
  color: #054db9;
}

.first-container {
  display: flex;
  align-items: center;
}

.image-1 {
  padding: 2rem;
  margin-top: 10rem;
  margin-left: 3rem;
}

.image-1 img {
  height: 40rem;
}

.main-container-content {
  display: block;
  margin-top: 9rem;
}

.main-container-content h3 {
  font-family: "Coda",sans-serif;
  font-size: 2.7rem;
  font-weight: 900;
  text-transform: capitalize;
  color: var(--white-color-1);

  margin-bottom: .652rem;
}

.main-container-content h2 {
  font-family: "Coda",sans-serif;
  font-size: 3.7rem;
  color: var(--white-color-1);

  margin-bottom: 2rem;
}

.occupation {
  font-family: "Coda",sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: .625rem .9375rem;

  color: var(--white-color-1);
  background: linear-gradient(180deg, rgb(146, 179.2, 229) 9.38%, rgb(31.41, 101.18, 175.31) 63.02%);
  margin-top: 1rem;
  margin-bottom: .5rem;
  margin-right: 2rem;
}

.occupation-line {
  background-color: var(--fifth-blue-color);
  border-radius: 10px;
  width: 45.5rem;
  height: .5rem;
}

.learn-more {
  align-self: flex-end;
  position: relative;
  right: 36.5%;
  text-align: center;
  cursor: pointer;
}

.learn-more a {
  font-size: 2rem;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  color: var(--white-color-1);
}

.learn-more .arrow-down {
  font-size: 3rem;
  color: var(--white-color-1);
}

.learn-more .arrow-down,a:hover {
  color: var(--white-color-2);
}




@media screen and (max-width: 1234px) {
  .occupation {
    width: 96%;
    font-size: 2.3rem;
  }
  
  .occupation-line {
    width: 42rem;
  }

  .learn-more {
    right: 46%;
  }

  .learn-more a {
    display: inline-block;
    width: max-content;
  }
}

/* ! Tablet Responsive View Section */
/* * 988px */
@media screen and (max-width: 988px) {
  body {
    min-height: 100%; 
  }

  header {
    justify-content: center;
    align-items: center;
  }

  .brand {
    margin: 0 0 0 5rem;
  }

  .brand img {
    height: 4rem;
  }

  .main-nav {
    display: none;
  }

  header .icons {
    display: none;
  }

  .mobile-menu {
    display: inline-block;
    position: relative;
    left: 35vw;
  }

  .mobile-menu a {
    font-size: var(--responsive-font-1);
    color: var(--white-color-1);
  }

  .mobile-nav {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    width: 25rem;
    height: 100vh;  
    padding: 5rem;

    background-color: var(--fourth-blue-color);
    border-left: .1rem solid rgba(0, 0, 0, .34);
  }

  .mobile-nav.active {
    right: 0;
  }

  .close-btn {
    color: var(--white-color-2);
    font-size: calc(var(--responsive-font-1) + .5rem);
    position: relative;
    top: -2.5rem; left: -2rem;
  }

  .mobile-links {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 8.5rem 0 1rem 0;
    border-bottom: 1px solid var(--white-color-2);
  }

  .mobile-nav .mobile-links a {
    font-weight: 700;
    text-align: center;
    font-size: var(--responsive-font-1);
    font-family: "Poppins", sans-serif;
    margin: 1rem;
    color: var(--white-color-2);
  }

  .mobile-icons {
    padding: .5rem;
    margin-left: .8rem;
  }

  .mobile-icons a {
    font-size: 1.5rem;
    color: var(--white-color-2);
    margin: 1rem;
  }

  .image-1 img {
    height: 33rem;
  }

  .occupation {
    font-size: 2.03rem;
    width: 37rem;
  }

  .occupation-line {
    width: 37.5rem;
  }

  .learn-more {
    right: 51.5%;
  }

  .learn-more a {
    font-size: 1.7rem;
    display: inline-block;
    width: max-content;
  }

    .learn-more .arrow-down {
      font-size: 2.5rem;
    }
}

/* * 768px */
@media screen and (max-width: 768px) {
  .brand {
    margin: 0 0 0 3.5rem;
  }

  .mobile-nav {
    width: 20rem;
  }

  .mobile-nav .mobile-links a {
    font-size: calc(var(--responsive-font-1) - .4rem);
  }

  .mobile-icons {
    padding: .3rem;
  }

  .mobile-icons a {
    font-size: 1rem;
    margin: .5rem;
  }

  .first-container {
    flex-direction: column;
  }

  .main-container-content {
    margin-top: -8rem;
  }

  .main-container-content h2 {
    margin-bottom: 0;
  }

  .main-container-content h3,h2,.occupation {
    text-align: center;
  }

  .image-1 {
    margin-top: 0;
    margin-right: 3rem;
  }

  .occupation,.occupation-line{
    margin-left: 2rem;
  }

  .occupation-line {
    margin-bottom: 1rem;
  }

  .learn-more {
    right: 43%;
  }

}


/* ! Mobile Responsive View Section */
/* * 425px View */
@media screen and (max-width: 425px) {
  .brand {
    margin: 0 0 0 2.5rem;
  }

  .mobile-menu {
    left: 25vw;
  }

  .mobile-nav {
    width: 100%;
    background-color: rgba(11, 24, 50, .5);;
  }

  .mobile-nav .mobile-links a {
    font-size: var(--responsive-font-1);
  }

  .mobile-icons {
    display: flex;
    justify-content: center;
    padding: .5rem;
  }

  .mobile-icons a {
    font-size: var(--responsive-font-1);
    margin: 0 1.5rem;
  }

  .image-1 {
    margin-left: 2rem;
  }

  .image-1 img {
    height: 29rem;
  }

  .main-container-content {
    margin-bottom: 2rem;
  }

  .main-container-content h3 {
    font-size: 2.3rem;
    margin-right: 1rem;
  }

  .main-container-content h2 {
    font-size: 3rem;
    margin-right: .5rem;
    margin-bottom: 0;
  }

  .main-container-content .occupation {
    font-size: 1.6rem;
    width: 30rem;
    text-align: center;
  }

  .main-container-content .occupation-line {
    width: 30.5rem;
  }

  .learn-more {
    right: 39%;
  }

}

/* * 375px View */
@media screen and (max-width: 375px) {
  .brand {
    margin: 0 0 0 3rem;
  }

  .mobile-menu {
    left: 22vw;
  }

  .image-1 {
    margin-left: 3rem;
  }

  .main-container-content {
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  .main-container-content h2 {
    margin-bottom: 0;
  }

  .learn-more {
    right: 34.5%;
  }
}

/* * 320px View */
@media screen and (max-width: 320px) {
  .brand {
    margin: 0 0 0 3rem;
  }

  .mobile-menu {
    left: 18vw;
  }

  .image-1 {
    margin-left: 6rem;
  }

  .image-1 img {
    height: 28rem;
  }

  .main-container-content {
    margin-left: 3.5rem;
  }

  .main-container-content h3 {
    font-size: 2rem;
  }

  .main-container-content h2 {
    font-size: 2.8rem;
    margin-bottom: 0;
  }

  .main-container-content .occupation {
    width: 28rem;
    font-size: 1.5rem;
  }

  .main-container-content .occupation-line {
    width: 28.5rem;
  }

  .learn-more {
    right: 27%;
  }
}